<a href="https://colab.research.google.com/github/ckhaila/Desain-dan-analisis-algoritma/blob/main/DAA_pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]

hasil = list_a + list_b
def add(list_a,list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first+second)
  return result
print("hasil:", add(list_a, list_b))

hasil: [5, 7, 9]

In [ ]:
import numpy as np

#membuat array
nilai_siswa = np.array([85,55,40,90])

#mengakses data pada array
print("tampilkan:",nilai_siswa[3])

tampilkan: 90

In [ ]:
import numpy as np

print(np.__version__)

1.23.5

In [ ]:
print("Hello, World!")
print("Nama saya(khaila)")
print("Nim saya(2022071055)")

Hello, World!
Nama saya(khaila)
Nim saya(2022071055)

In [ ]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

In [ ]:
x=4
x="sally"
print(x)

sally

In [ ]:
def getFirst(myList):
    return myList[0]
getFirst([1,2,3])

1

In [ ]:
def getSecond(myList):
    return myList[1]
getFirst([1,2,3])

1

In [ ]:
def getLast(myList):
    return myList[len(myList)-1]
getLast([3,7,6,5,11,21])

21

In [ ]:
def getSum(myList):
    sum = 0
    for row in myList:
        for item in row:
          sum += item
    return sum
getSum([[10,6],[7,8]])

31